
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.tmpl.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>

<div class="main-container">
    <div class="form-container">
        <h2>Enter Work:</h2>
        <form data-bind="submit: submitTask">
            <div class="form-element-container">
                <span>
                    @*<select data-bind="options: jobs, optionsText: function(job) { return job.name() },
                                         value: selectedJob, optionsCaption: 'Select Job'"></select>*@
                    <select data-bind="options: jobs, optionsText: 'jobName',
                                       value: selectedJob, optionsCaption: 'Select Job'"></select>
                    <input class="text-box" data-bind="value: jobName" /><button data-bind="click: addJob">Add Job</button>
                </span>
            </div>
            <div class="form-element-container">
                <span>
                    <select data-bind="options: taskList, optionsText: 'taskName',
                                       optionsCaption: 'Select Task'"></select>
                    <input class="text-box" data-bind="value: taskName" /><button data-bind="click: addTask">Add Task</button>
                </span>
            </div>
            <div class="form-element-container">
                <span>
                    <select data-bind="options: hoursOptions(), value: taskHours, optionsCaption: 'Select Hours'"></select>
                </span>
            </div>
            <div class="form-element-container">
                <button class="submit-button" data-bind="click: submitTask">Add to Timesheet</button>
            </div>
        </form>
        <span data-bind="text: labelText"></span>
    </div>
    <div class="table-container">
        <h2>Timesheet:</h2>
        <table class="table" data-bind="foreach: jobs">
            <tr>
                <th>
                    <span data-bind="text: jobName"></span>
                    <a class="badge badge-pill danger" data-bind="click: $root.removeJob">remove</a>
                </th> 
                <th>Hours</th>
            </tr>
            <tbody data-bind="template: { name: 'taskTemplate', foreach: job.tasks}"></tbody>
        </table>
        <script id="taskTemplate" type="text/html">
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: hours"></td>
            </tr>
        </script>
    </div>
</div>

<script src="~/Scripts/Application/index.js"></script>